.backgroundApp {
  background-color: ivory;
  padding-bottom: 5rem;
  padding-top: 1rem;
}
/* tittle */
.tittle {
  text-align: center;
}

.box-tittle {
  text-align: center;
  margin-bottom: 2rem;
}

/* content */
.content-box {
  background: antiquewhite;
  display: inline-block;
  padding: 35px 48px;
  border-radius: 30px;
  margin-top: 2rem;
}

/* form */
.form-style {
  min-width: 485px;
  min-height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: 0;
  border-color: transparent;
  background: #fafafa;
}

/* textarea */
.textarea-style {
  font-size: 25px;
  background-color: aliceblue;
  border-radius: 10px;
  outline: 0;
  padding: 5px 10px;
}

/* button */
.ml1 {
  margin-left: 1rem;
}

.btn-box {
  padding-left: 25px;
  padding-top: 5px;
}




